
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #4c4c4c;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 1rem;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}
p-lg, .paragraph-lg {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 6rem;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

h2, .h2 {
  font-size: 4rem;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

.txt{
  color: #fff;
}
i:hover{
  color:#B958A5;
}




body {
  background-color: #fff;
  overflow-x: hidden;
}



::selection {
  background: #542cb7;
  color: #fff;
}

/* preloader */

header i , .head-area i{
  font-size: 2rem;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.section-title {
  margin-bottom: 6rem;
  font-family: "Playfair Display", serif;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.py-5{
  padding-top: 10rem;
}


/*     Skills
*/
.skills .widget-content-area {
  border-radius: 6px; }
  .skills .widget-content-area h3 {
    position: relative;
    font-size: 21px;
    font-weight: 600;
    color: #3b3f5c;
    margin: 6px 0px 40px 0; }
    .skills .widget-content-area h3:after {
      position: absolute;
      content: "";
      height: .1rem;
      width: 3rem;
      background: #1b55e2;
      border-radius: 50%;
      bottom: -2px;
      left: 1rem; }
  .skills .widget-content-area p.skill-item {
    margin-bottom: 5px;
    font-size: 15px;
    color: #515365;
    font-weight: 600; }
  .skills .widget-content-area .progress {
    height: 1.2rem;
    box-shadow: 1px 3px 20px 3px #f1f2f3;
    margin-bottom: 2rem; }
    .skills .widget-content-area .progress .progress-bar {
      background-color: #1b55e2;
      background: linear-gradient(to right, #0081ff 0%, #0045ff 100%);
      border-radius: .9rem;
      box-shadow: 0 2px 4px rgba(0, 69, 255, 0.15), 0 8px 16px rgba(0, 69, 255, 0.2);
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 100; }
    .skills .widget-content-area .progress .progress-title {
      display: flex;
      justify-content: space-between;
      padding: 1rem; }
      .skills .widget-content-area .progress .progress-title span {
        align-self: center; }

/* */

.bio .widget-content-area {
  border-radius: 6px;
  padding-bottom: 0; }

  #about{
    padding-top: 10rem;
  }

  
  
   h3 {
     position: relative;
     font-size: 1.4rem;
     font-weight: 600;
     color: #3b3f5c;
     margin: .3rem 0px 3.5rem 0; }
     h3:after {
       position: absolute;
       content: "";
       height: 2px;
       width: 2.5rem;
       background: #461be2;
       border-radius: 50%;
       bottom: -2px;
       left: 15px; }
     h5 {
      font-size: 1.2rem;
      font-weight: 700;
      color: #3b3f5c; }
      .bio .widget-content-area p {
        color: #888ea8;
        font-size: 1rem; }
        .bio .widget-content-area .bio-skill-box {
          padding-top: 2rem;
          padding-bottom: 2rem; }
          .bio .widget-content-area .b-skills {
            padding: 1.4rem 1rem;
            box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.17);
            background: #fff;
            border-radius: 10px;
            padding: 1.8rem 1.8rem 1.6rem; }
  .bio .widget-content-area .b-skills svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.6rem;
  color: #1b55e2; }
   h5 {
    margin-bottom: .8rem;
    font-size: 1rem; }
    .bio .widget-content-area .b-skills p {
      font-size: 13px; }
      
      .bioimg img{
        width:20rem;
        height:20rem;
      }
      
          /* cards */
/* .card-body{
  height: 18rem;
} */

.card img{
 
  height:15rem;
}

.filtr-item {
  padding-top: 30px;
}

.filtr-controls span {
  cursor: pointer;
}

.filtr-controls span:after {
  content: ' ';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: transparent;
  transition: all .6s ease;
}

.filtr-controls span.active:after {
  width: 100%;
  left: 0;
  background: rgb(88, 14, 226);
}

.filtr-loading {
  border: 5px solid rgb(125, 15, 216);
  position: relative;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: 80px 0;
  opacity: 0;
  top: 0;
  width: 40px;
  z-index: 2;
  -webkit-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}


/* cards */



.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #41228e !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #41228e !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: .6rem !important;
}

.mb-20 {
  margin-bottom: 1.2rem !important;
}

.mb-30 {
  margin-bottom: 2rem !important;
}

.mb-40 {
  margin-bottom: 2.6rem !important;
}

.mb-50 {
  margin-bottom: 3.4rem !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 8rem !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "Playfair Display", serif !important;
}


/* icon */


.icon-bg {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
.b-skills i{
  font-size: 2rem;
  color: #542cb7;
}
/* /icon */



.navigation {
  padding: 2rem 2rem;
  transition: 0.3s ease;
}
.navigation.nav-bg {
  background-color: #41228e;
  padding: .5rem;
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: .5rem;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 1rem;
    background: #41228e;
  }
}

.navbar .nav-item .nav-link {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 1rem;
}
.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.head-area {
  padding: 15rem 0 15rem;
  position: relative;
}
@media (max-width: 767px) {
  .head-area {
    padding: 22rem 0 12rem;
    overflow: hidden;
  }
}
.head-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}
/*  */

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bb{
  height:5rem
}

/* News letter */
.newsletter {
  padding: 80px 0;
  
  }
  
  .newsletter .content {
  max-width: 38rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .newsletter .content h2 {
  color: #40199c;
  text-shadow: 2p 1px #33383b;
  margin-bottom: 40px; }
  .newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
  }
  .newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #624eb8;
  }
  .newsletter .content .btn {
  border-radius:0;
  background: #3c1dc9;
  color: #fff;
  font-weight:600;
  }
/* News letter */



footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 7.5rem;
  bottom: 0;
  color: #fff;
}
footer i{
  font-size: 1.5rem;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #fff;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #fff;
}

.footer-navigation h3 span {
  color: #5383d3;
}

.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

div.social-links {
  margin-top: 20px;
  color: #fff;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}
